    <h2>Hola!
        {{first_name}}
        {{last_name}}
    </h2>
    <h3>Lista de Productos:</h3>
    <ul>
        {{#each products}}
            <li>Nombre del producto: {{title}}</li>
            <li>Descripción: {{description}}</li>
            <li>Precio: {{price}}</li>
            <li><img style="width: 100px; height: 100px;" src="{{thumbnails}}"></li>
            <li>Categoría: {{category}}</li>
            {{#if _id}}
                <p>_id: {{_id}}</p>
            {{/if}}
        {{/each }}
    </ul>