<h2>Hola! {{first_name}} {{last_name}} </h2>
<button onclick="location.href='/api/users/logout'">Logout</button>
<h3>Lista de Productos:</h3>
<ul>
	{{#each products}}
	<li>Nombre del producto: {{this.title}}</li>
	<li>Descripción: {{this.description}}</li>
	<li>Precio: {{this.price}}</li>
	<li><img style="width: 100px; height: 100px;" src="{{this.thumbnails}}"></li>
	<li>Categoría: {{this.category}}</li>
	<li>
		<form action="/api/carts/{{this.cartId}}/product/{{this._id}}" method="post">
			<input type="hidden" name="productId" value="{{this._id}}">
			<button type="submit">Agregar al carrito</button>
		</form>
	</li>
	{{/each}}
</ul>